<section class="widget" id="ticketComments">
<div class="widget-body no-padding">
    <div class="list-group list-group-sm">
        <div *ngFor="let comment of comments" class="list-group-item"> 
        <h6 class="event-heading fw-normal">{{comment.UserName}}</h6>
        <p class="text-muted"><i class="bt fa" [class.fa-lock]="!comment.IsVisible" [class.text-danger]="!comment.IsVisible" [class.fa-group]="comment.IsVisible" [class.text-primary]="comment.IsVisible"></i> {{comment.CreatedDateTime}}</p>
        <p class="fs-mini">
          {{comment.Comment}}
        </p>
        </div>
    </div>
    </div> 
    <form class="mt-2">
        <div class="form-group">
        <label class="sr-only" for="newComment">Comment</label>
        <textarea class="form-control" id="newComment" placeholder="post comment..." rows="3" [(ngModel)]="newComment" name="newComment"></textarea>
        </div>
        <div class="btn-toolbar">
          <button type="button" class="btn btn-primary" (click)="postCommentAll(newComment)">Share With Requester</button>
          <button type="button" class="btn btn-danger btn-sm pull-right" (click)="postCommentInternally(newComment)">Post Internally</button>
        </div>
    </form>
</section>