<!--<div class="row">-->
    <div >
        <section class="widget">
            <div class="widget-body">

                <h5 class="fw-normal">{{requester.FirstName}} <span class="fw-semi-bold">{{requester.LastName}}</span></h5>
                <p>UI/UX designer</p>
                <ul class="test">
                    <li><i class="fa fa-phone fa-fw mr-xs"></i>{{requester.Phone}}</li>
                    <li><i class="fa fa-envelope fa-fw mr-xs"></i><a href="#">{{requester.Email}}</a></li>
                    <li><i class="fa fa-map-marker fa-fw mr-xs"></i>{{requester.Location}}</li>
                </ul>

            </div>
        </section>
    </div>
<!--</div>-->