<!--<div class="col-xs-12">-->
  <section class="widget">
    <div class="widget-body">
      <form (ngSubmit)="save()">
        <div class="row">
          <div class="col-xs-4">
            <fieldset>
              <label for="component">Component</label>
              <ol class="breadcrumb">
                <li class="breadcrumb-item ">{{ticket.component.text}}</li>
                <li class="breadcrumb-item ">{{ticket.subcomponent.text}}</li>
              </ol>
            </fieldset>

            <div class="form-group">
              <label for="category" class="">Category</label>
              <input type="text" class="form-control input-group-sm input-no-border" id="category" [(ngModel)]="ticket.category.text" name="category">
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label for="priority" class="">Priority</label>
              <input type="text" class="form-control input-group-sm input-no-border" id="priority" [(ngModel)]="ticket.priority.text" name="priority">
            </div>
            <div class="form-group">
              <label for="status" class="">Status</label>
              <select id="status" class="form-control input-group-sm" [(ngModel)]="ticket.status.id" name="statusTypes" [disabled]=true>
        <option *ngFor="let status of statusTypes" [ngValue]="status.id">{{status.text}}</option>
      </select>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label for="source" class="">Source</label>
              <input type="text" class="form-control input-group-sm input-no-border" id="priority" [(ngModel)]="ticket.source.text" name="source">
            </div>
            <div class="form-group">
              <label for="createdDate" class="">Date Reported</label>
              <input type="text" class="form-control input-group-sm input-no-border" id="createdDate" [(ngModel)]="ticket.createdDate"
                name="createdDate">
            </div>

          </div>

          <div class="col-xs-12">
            <div class="form-group">
              <label for="description" class="">Description</label>
              <input type="text" class="form-control input-group-sm input-no-border" id="description" [(ngModel)]="ticket.description"
                name="description">
            </div>
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="offset-md-4 col-md-7">
              <button type="submit" class="btn btn-primary">Save Changes</button>
              <button type="button" class="btn btn-inverse">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
<!--</div>-->