<!--<div class="row">-->
    <div >
        <section class="widget">
            <div class="widget-body">
                <div class="progressUi">
<ul>
    <li>
                <!--<h5 class="">{{ticket.ownerFirstName}} <span class="fw-semi-bold">{{requester.LastName}}</span></h5>-->
                <label>Ticket Owner</label>
                
          &nbsp;
          Glenn <strong>Nevils</strong>&nbsp;
    </li>
    <li>
        <label>SLA Expected</label>
        <span>1 day</span>
    </li>
    <li></li>
</ul>
                </div>
            </div>
        </section>
    </div>
<!--</div>-->