div.progressUi ul li {
    display: inline;
      list-style-type: none;
    //   margin-top: 25px;
    // margin-left: -10px;
    // margin-right: -10px;
    // padding-left: 0; 
       padding: 10px;
  margin: 10px;
  }