<section class="widget">
    <div class="widget-body no-padding">
        <ul *ngFor="let act of activity" class="news-list stretchable">
            <li>
                <span class="icon text-white" [class.bg-danger]="act.isComment" [class.bg-info]="act.isAssigned" [class.bg-success]="act.isCreated">
                                    <i class="fa" [class.fa-comment]="act.isComment" [class.fa-user]="act.isAssigned" [class.fa-pencil-square]="act.isCreated"></i>
                                </span>
                <div class="news-item-info">
                    <h5 class="name no-margin mb-xs"><a href="#">{{act.UserName}}</a></h5>
                    <p class="fs-mini">
                        {{act.Activity}}
                    </p>
                    <time class="help-block">{{act.CreatedDate}}</time>
                </div>
            </li>
            <!--<li>
                <span class="icon bg-info text-white">
                                    <i class="fa fa-user"></i>
                                </span>
                <div class="news-item-info">
                    <h5 class="name no-margin mb-xs"><a href="#">Help Desk assigned to John Doe</a></h5>
                    <p class="fs-mini">
                        Lorem ipsum dolor sit amet
                    </p>
                    <time class="help-block">Sep 25, 11:59</time>
                </div>
            </li>
            <li>
                <span class="icon bg-success text-white">
                                    <i class="fa fa-pencil-square"></i>
                                </span>
                <div class="news-item-info">
                    <h5 class="name no-margin mb-xs"><a href="#">Help Desk created a ticket for Tina Sanders</a></h5>
                    <p class="fs-mini">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <time class="help-block">Mar 20, 18:46</time>
                </div>
            </li>-->
        </ul>
    </div>
</section>